.advantages {
    margin: 0 0 64px;
    @include desktop {
        padding: 40px 0 0;
        margin-bottom: vw(150);
    }

    &_holder {
        @include layout;
        overflow: hidden;
        @include desktop {
            overflow: auto;
        }
    }
    &_label {
        font-size: 12px;
        line-height: 1.4;
        color: $cPurpleDark;
        @include desktop {
            font-size: 18px;
            margin-bottom: 28px;
        }
    }
    &_grid {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px 20px;
        }

        & > div:nth-child(1) {
            @include desktop {
                width: calc(50% - 20px);
            }
        }
        & > div:nth-child(2) {
            @include desktop {
                width: calc(50% - 20px);
            }
        }
        & > div:nth-child(3) {
            @include desktop {
                width: calc(55% - 20px);
            }
        }
        & > div:nth-child(4) {
            @include desktop {
                width: calc(45% - 20px);
            }
        }
    }
}
