.agenda {
    margin: 0 0 64px;
    @include desktop {
        margin-bottom: vw(150);
    }

    &_holder {
        @include layout;
    }
    &_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 16px;
        @include desktop {
            grid-template-columns: 1fr 1fr;
            column-gap: vw(20);
            row-gap: vw(20);
        }
    }
}
