.comments {
    @include section;
    background-color: $cOrange;
    padding: 32px 0;
    border-radius: 30px;
    overflow: hidden;
    @include tablet {
        padding: 40px 0;
    }
    @include desktop {
        padding: 54px 0;
    }


    &_holder {
        @include layout;
        @include desktop {
            position: relative;
        }
    }

    &_grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include desktop {
            gap: 100px 80px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
   
    &_card {
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        position: relative;
        @include desktop {
            font-size: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -28px;
            top: 0;
            height: 100%;
            width: 5px;
            background: url(#{$img}/vertical-divider.svg) repeat-y top left / 100% auto;
            @include desktop {
                right: -42px;
            }
        }

        &:nth-child(4n)::after {
            @include desktop {
                content: none;
            }
        }
    }

    &_card-text {
    }
    &_card-name,
    &_card-position {
        display: inline-block;
        position: relative;
        border-radius: 6px;

        .comments_card:nth-child(1n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(2n) & {
            box-shadow: 0 0 0 6px $cYellow;
            background-color: $cYellow;
        }

        .comments_card:nth-child(3n) & {
            box-shadow: 0 0 0 6px $cRed;
            background-color: $cRed;
        }

        .comments_card:nth-child(4n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(5n) & {
            color: #fff;
            box-shadow: 0 0 0 6px $cPurpleDark;
            background-color: $cPurpleDark;
        }

        .comments_card:nth-child(6n) & {
            box-shadow: 0 0 0 6px $bg_color;
            background-color: $bg_color;
        }

        .comments_card:nth-child(7n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(8n) & {
            box-shadow: 0 0 0 6px $cRed;
            background-color: $cRed;
        }
    }

    &_card-position {
        margin-top: 5px;
    }

    &_card-image {
        width: 100%;
        display: block;
        margin: 0 0 10px;
        @include desktop {

        }
    }
}
