.comments {
    @include section;
    overflow: hidden;


    &_holder {
        @include layout;
        border-radius: 30px;
        padding-top: 32px;
        padding-bottom: 32px;
        background: $cOrange url(#{$img}/pattern-big.png) no-repeat center / cover;
        @include tablet {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include desktop {
            position: relative;
            padding-top: 54px;
            padding-bottom: 54px;
        }
    }

    &_grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include desktop {
            gap: 100px 80px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
   
    &_card {
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        position: relative;
        @include desktop {
            font-size: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -30px;
            top: 0;
            height: 100%;
            width: 7px;
            background: url(#{$img}/vertical-divider.svg) repeat-y top left / 100% auto;
            @include desktop {
                right: -42px;
            }
        }

        &:nth-child(4n)::after {
            @include desktop {
                content: none;
            }
        }
    }

    &_card-text {
    }
    &_card-name,
    &_card-position {
        display: inline-block;
        position: relative;
        border-radius: 6px;

        .comments_card:nth-child(1n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(2n) & {
            box-shadow: 0 0 0 6px $cYellow;
            background-color: $cYellow;
        }

        .comments_card:nth-child(3n) & {
            box-shadow: 0 0 0 6px $cRed;
            background-color: $cRed;
        }

        .comments_card:nth-child(4n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(5n) & {
            color: #fff;
            box-shadow: 0 0 0 6px $cPurpleDark;
            background-color: $cPurpleDark;
        }

        .comments_card:nth-child(6n) & {
            box-shadow: 0 0 0 6px $bg_color;
            background-color: $bg_color;
        }

        .comments_card:nth-child(7n) & {
            box-shadow: 0 0 0 6px $cBlueLight;
            background-color: $cBlueLight;
        }

        .comments_card:nth-child(8n) & {
            box-shadow: 0 0 0 6px $cRed;
            background-color: $cRed;
        }
    }

    &_card-position {
        margin-top: 5px;
    }

    &_card-image {
        width: 100%;
        display: block;
        margin: 0 auto 32px;
        border-radius: 50%;
        box-shadow: 0px 3px 0px $cOrange, 0px 6px 0px $cYellow, 0px 9px 0px #FFEBCB;
        @include desktop {
            width: 124px;
            box-shadow: 0px 6px 0px $cOrange, 0px 12px 0px $cYellow, 0px 18px 0px #FFEBCB;
        }
    }
}
