.faq {
    margin: 0 0 64px;
    position: relative;
    @include desktop {
        margin-bottom: vw(150);
    }

    &_holder {
        @include layout;
    }

    &_content {
        padding: 24px 0 0;
        @include desktop {
            padding-top: 100px;
            min-height: 800px;
        }
    }
}
