.faq {
    @include section;
    position: relative;

    &::before {
        content: '';
        background: url(#{$img}/faq-bg.svg) no-repeat center / 100% auto;
        position: absolute;
        top: -20px;
        right: 0;
        width: 100vw;
        padding-bottom: 33%;
        pointer-events: none;
        z-index: -1;
        @include desktop {
            top: 0;
        }
        @include desktop-large {
            top: -80px;
        }
    }

    &__without-rainbow::before {
        content: none;
    }

    &_holder {
        @include layout;
    }

    &_content {
        padding: 24px 0 0;
    }
}
