.intro {
    margin: 0 0 64px;
    @include desktop {
        position: relative;
        margin-bottom: vw(105);
    }

    &__background-1 {
        &::before {
            @include desktop {
                content: '';
                position: absolute;
                left: 0;
                top: 14vw;
                width: 194px;
                height: 219px;
                background: url(#{$img}/figures/tickets-page-left.svg) no-repeat top right / 100%;
                z-index: -1;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 152px;
            width: 107px;
            height: 114px;
            background: url(#{$img}/figures/tickets-page-right.svg) no-repeat top right / 100%;
            z-index: -1;
            @include desktop {
                width: 178px;
                height: 190px;
                top: 0px
            }
        }
    }
    &__background-2 {
        &::before {
            @include desktop {
                content: '';
                position: absolute;
                left: 0;
                bottom: 50px;
                width: 202px;
                height: 236px;
                background: url(#{$img}/figures/main-page-intro.svg) no-repeat top left / 100%;
                z-index: -1;
            }
        }
    }
    &__background-3 {

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 172px;
            width: 72px;
            height: 76px;
            background: url(#{$img}/figures/speakers-page-right.svg) no-repeat top right / 100%;
            z-index: -1;
            @include desktop {
                width: 164px;
                height: 174px;
                top: 0;
            }
        }
    }
    &__background-4 {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 162px;
            width: 111px;
            height: 130px;
            background: url(#{$img}/figures/speaker-form-page-right.svg) no-repeat top right / 100%;
            z-index: -1;
            @include desktop {
                width: 176px;
                height: 190px;
                top: 30px;
            }
        }
    }
    &__background-5 {
        &::after {
            @include desktop {
                content: '';
                position: absolute;
                right: 0;
                top: 102px;
                width: 168px;
                height: 178px;
                background: url(#{$img}/figures/partners-page-right.svg) no-repeat top right / 100%;
                z-index: -1;
            }
        }
    }
    &__background-6 {
        &::before {
            @include desktop {
                content: '';
                position: absolute;
                background: url(#{$img}/figures/agenda-left.svg) no-repeat top right / 100% 100%;
                z-index: -1;
                width: 219px;
                height: 194px;
                top: 20vw;
                left: 0;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 172px;
            width: 72px;
            height: 76px;
            background: url(#{$img}/figures/speakers-page-right.svg) no-repeat top right / 100%;
            z-index: -1;
            @include desktop {
                width: 164px;
                height: 174px;
                top: 0;
            }
        }
    }

    &_holder {
        @include layout;
    }
    &_title {
        font-size: 48px;
        line-height: .94;
        font-weight: 400;
        margin: 0 0 32px;
        @include desktop {
            font-size: vw(140);
            margin-bottom: vw(56);
        }
    }
    &_label {
        display: block;
        color: $cPurpleDark;
        margin: 0 0 8px;
        font-size: 12px;
        line-height: 1.3;
        @include desktop {
            font-size: vw(18);
            margin-bottom: vw(24);
        }
    }
    &_content {
        @include desktop {
            display: flex;
            justify-content: flex-end;
        }
    }
    &_text {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        margin: 0 0 24px;
        @include desktop {
            font-size: vw(24);
            margin-bottom: vw(40);
            max-width: 46%;
        }
    }
    &_back {
        margin-bottom: 32px;
        @include desktop {
            margin-bottom: vw(64);
        }
    }

    .button {
        margin: 4px 0 0;
        @include desktop {
            margin-top: vw(22);
        }
    }
}
