.join {
    position: relative;
    margin: 0 0 125px;
    @include tablet {
        margin-bottom: 110px;
    }
    @include desktop {
        margin-bottom: 250px;
    }

    &::before {
        content: '';
        background: url(#{$img}/rainbow-join.svg) no-repeat center / 420px auto;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-bottom: 33%;
        transform: translate(0, -37%);
        pointer-events: none;
        @include media(400px) {
            background-size: 100% auto;
        }
    }

    &_holder {
        @include layout;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_form {
        margin: 0;
        width: 300px;
        @include desktop {
            width: 460px; 
        }
    }

    &_form-accept {
        margin-bottom: $indent;
        @include desktop {
            margin-bottom: 24px;
        }
    }

    &_form-input-wrapper {
        position: relative;
    }

    &_form-input[type] {
        @include placeholder-color(rgba($color, .5));
        width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        @include desktop {
            border-radius: 16px 16px 0 0;
            height: 88px;
            line-height: 88px;
            font-size: 24px;
        }
    }

    &_form-button[type] {
        @include button-reset;
        background: url(#{$img}/arrow-button.svg) no-repeat center / contain;
        position: absolute;
        height: 32px;
        width: 32px;
        top: 11px;
        right: 16px;
        transform: scale(1);
        border: none;
        outline: none;
        transition: .2s $easing transform;
        @include desktop {
            top: 25px;
            height: 40px;
            width: 40px;
            right: 20px;
        }

        &:hover,
        &:focus {
            border: none;
            outline: none;
            transform: scale(1.1);
        }
        &:active {
            border: none;
            outline: none;
            transform: scale(0.9);
        }
    }
}
