.location {
    margin: 0 0 64px;

    @include desktop {
        margin-bottom: vw(150);
        position: relative;
    }


    &_holder {
        @include layout;
    }

    &_content {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding: vw(66) 0 0;
        }
    }

    &_sticky-wrapper {
        @include desktop {
            position: sticky;
            top: 6vh;
            margin-right: 40px;
            z-index: 5;
            padding: 0 0 vw(210) 0;
        }
    }

    &_images {
        order: 1;
        margin: 0 0 50px;

        @include desktop {
            order: initial;
            margin: 0;
            width: 45%;
        }
    }

    &_image {
        flex-shrink: 0;
        margin-top: 40px;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }

    &_info {
        font-size: 16px;
        line-height: 1.5;
        order: 2;

        @include desktop {
            width: 45%;
            order: initial;
            font-size: vw(24);
            max-width: 48%;
            margin-bottom: vw(40);
        }

        .button {
            margin: 4px 0 0;

            @include desktop {
                margin-top: vw(24);
            }
        }
    }

    &_main-image-wrapper {
        position: relative;
        margin: 0 0 80px;

        @include desktop {
            margin-bottom: vw(250);
        }
    }

    &_main-image {
        width: 100%;
    }

    &_item {
        margin: 0 0 52px;
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            margin-bottom: 236px;
            gap: 130px;
        }

        &:nth-of-type(even) {
            @include desktop {
                flex-direction: row-reverse;
            }
        }

        &:last-child {
            @include desktop {
                margin-bottom: 0;
            }
        }
    }

    &_item-content {
        display: contents;

        @include desktop {
            display: block;
            width: 55%;
        }
    }

    &_item-image-wrapper {
        position: relative;
        margin: 0 0 55px;
        order: 2;

        @include desktop {
            margin: 0;
            order: initial;
            width: 45%;
        }
    }

    &_item-title {
        font-size: 48px;
        line-height: .94;
        font-weight: 400;
        margin: 0 0 56px;
        order: 1;

        @include desktop {
            font-size: vw(140);
            order: initial;
        }
    }

    &_item-text {
        order: 3;

        @include desktop {
            order: initial;
            font-size: vw(24);
        }

        .button {
            margin-top: 10px;
        }
    }

    &_item-image {
        width: 100%;
    }
}
