.location {
    @include section;
    position: relative;
    overflow: hidden;
    @include desktop {
        padding-bottom: 30px;
        position: relative;
    }

    &_holder {
        @include layout;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 380px;
        @include tablet {
            padding-bottom: 200px;
        }
        @include desktop {
            padding-bottom: 350px;
            position: relative;
        }

        &__no-indent {
            padding-bottom: 0;
        }
    }

    &_content {
        text-align: center;
        @include tablet {
            max-width: 340px;
        }
        @include desktop {
            max-width: 456px;
            font-size: 24px;
        }
    }

    &_image {
        position: absolute;
        z-index: -1;
        // box-shadow: $image-shadow;

        &:nth-of-type(1) {
            width: 136px;
            left: $indent;
            bottom: 150px;
            @include desktop {
                width: 360px;
                left: 0;
                bottom: 100px;
            }

        }
        &:nth-of-type(2) {
            width: 160px;
            right: $indent;
            bottom: 200px;
            @include desktop {
                width: 340px;
                right: -20px;
                bottom: 320px;
                // opacity: 0;
            }

            // &.animated {
            //     @include desktop {
            //         animation: appearance-2 2.5s $easeOutCirc 1s forwards;
            //         transform-origin: center;
            //     }
            // }
        }
        &:nth-of-type(3) {
            width: 204px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            @include desktop {
                right: auto;
                transform: none;
                left: 47%;
                width: 448px;
                // opacity: 0;
            }

            // &.animated {
            //     @include desktop {
            //         animation: appearance-2 3s $easeOutCirc .5s forwards;
            //         transform-origin: center;
            //     }
            // }
        }
    }

    &_info {
        font-size: 16px;
        line-height: 1.5;
        order: 2;

        @include desktop {
            width: 45%;
            order: initial;
            font-size: vw(24);
            max-width: 48%;
            margin-bottom: vw(40);
        }
    }

    &_main-image-wrapper {
        position: relative;
        margin: 0 0 80px;
        @include desktop {
            margin-bottom: vw(250);
        }
    }

    &_main-image {
        width: 100%;
    }

    &_items {
        position: relative;
        &::after {
            @include desktop {
                content: '';
                background: url(#{$img}/speakers-rainbow-right.svg) no-repeat;
                position: absolute;
                left: 85%;
                top: 230px;
                z-index: -1;
                height: 398px;
                width: 1353px;
            }
        }
    }

    &_item {
        margin: 0 0 42px;
        display: flex;
        flex-direction: column;
        text-align: center;
        @include desktop {
            text-align: initial;
            align-items: center;
            flex-direction: row;
            margin-bottom: 80px;
            gap: 100px;
        }

        &:nth-of-type(odd) {
            @include desktop {
                flex-direction: row-reverse;
            }
        }

        &:last-child {
            margin-bottom: 0;
            @include desktop {
                margin-bottom: 30px;
            }
        }
    }

    &_item-content {
        display: contents;
        @include desktop {
            display: block;
            width: 35%;
        }
    }

    &_item-image-wrapper {
        position: relative;
        margin: 0 0 55px;
        order: 2;
        @include desktop {
            margin: 0;
            order: initial;
            width: 60%;
        }
    }

    &_item-image {
        width: 100%;
        border-radius: 16px;
        box-shadow: $image-shadow;
        @include desktop {
            border-radius: 32px;
        }
    }

    &_item-title {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        margin: 0 0 22px;
        order: 1;
        text-align: center;
        @include desktop {
            font-size: 56px;
            text-align: left;
            order: initial;
        }

        span {
            font-size: 40px;
            color: $cRed;
            display: block;
            @include desktop {
                font-size: 56px;
            }
        }
    }

    &_item-subtitle {
        font-size: 18px;
        line-height: 1.3;
        order: 3;
        @include desktop {
            order: initial;
            font-size: 24px;
        }
    }

    &_item-text {
        font-size: 14px;
        order: 4;
        @include desktop {
            order: initial;
            font-size: 16px;
        }
    }

    &_item-title-decoration {
        margin: 0 auto 30px;
        width: 134px;
        @include desktop {
            margin: 0 0 30px;
        }
    }

    &_main-image {
        display: block;
        width: 100%;
        margin-bottom: 54px;
        border-radius: 12px;
        box-shadow: $image-shadow;
        @include desktop {
            border-radius: 34px;
            margin-bottom: 100px;
        }
    }
}

@keyframes appearance-1 {
    from {
        transform: rotate(25deg) translate(-300px, -300px);
        opacity: 0;
    }
    to {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }
}

@keyframes appearance-2 {
    from {
        transform: rotate(-25deg) translate(300px, 300px);
        opacity: 0;
    }
    to {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }
}
