.location {
    margin: 0 0 64px;
    @include desktop {
        margin-bottom: vw(150);
        position: relative;
    }

    &::before {
        @include desktop {
            content: '';
            background: url(#{$img}/figures/location-figure-top.svg) no-repeat center / 100%;
            position: absolute;
            top: 128px;
            left: 0;
            height: 332px;
            width: 246px;
        }
    }
    &::after {
        @include desktop {
            content: '';
            background: url(#{$img}/figures/location-figure-bottom.svg) no-repeat center / auto 100%;
            position: absolute;
            bottom: 50px;
            left: -22px;
            height: 219px;
            width: 194px;
        }
    }

    &_holder {
        @include layout;
    }
    &_content {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding: vw(66) 0 0;
        }
    }
    &_sticky-wrapper {
        @include desktop {
            position: sticky;
            top: 6vh;
            margin-right: 40px;
            z-index: 15;
            padding: vw(236) 0 vw(210) 0;
        }
    }
    &_images {
        order: 1;
        margin: 0 0 50px;
        @include desktop {
            order: initial;
            margin: 0;
            width: 45%;
        }
    }
    &_image {
        flex-shrink: 0;
        margin-top: 40px;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }
    &_info {
        font-size: 16px;
        line-height: 1.5;
        order: 2;
        @include desktop {
            width: 45%;
            order: initial;
            font-size: vw(24);
            max-width: 48%;
            margin-bottom: vw(40);
        }

        .button {
            margin: 4px 0 0;
            @include desktop {
                margin-top: vw(24);
            }
        }
    }
}
