.page-title {
    @include layout;
    @include section;
    max-width: 710px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    @include desktop {
        font-size: 24px;
        max-width: 960px;
        margin-bottom: 64px;
    }
    @include media(1300px) {
        position: relative;
    }

    h1 {
        display: inline-block;
        margin: 0;
        padding: 0 0 70px;
        background: url(#{$img}/page-title-bg.svg) repeat-x bottom 20px center;
        font-size: 40px;
        line-height: 1.2;
        @include desktop {
            font-size: 80px;
            line-height: 1.1;
        }

        span {
            display: block;
            font-size: 32px;
            @include desktop {
                font-size: 56px;
            }
        }
    }

    &_caption {
        font-size: 18px;
        margin-top: 10px;
    }

    .button {
        margin-top: 40px;
        @include desktop {
            margin-top: 66px;
        }
    }

    .back-button {
        display: none;
        position: absolute;
        @include desktop {
            display: block;
            top: 150px;
            left: $indent;
        }
        @include media(1300px) {
            top: 0;
            left: 50%;
            margin-left: -630px;
        }
    }
}
