.schedule {
    margin: 0 0 84px;
    @include desktop {
        margin-bottom: vw(150);
    }

    &_holder {
        @include layout;
    }
    &_content {
        padding: 35px 0 0;
        @include desktop {
            display: flex;
            gap: 55px;
            padding-top: vw(56);
        }
    }
    &_filters {
        @include desktop {
            width: 274px;
            flex-shrink: 0;
        }
    }
    &_timeline {
        flex-grow: 1;
    }
    &_date {
        font-size: 20px;
        line-height: 1.4;
        margin: 0 0 24px;
        @include desktop {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 56px;
        }
    }
    &_day {
        margin: 0 0 32px;
        @include desktop {
            margin-bottom: 56px;
        }
    }
    &_time {
        display: block;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2;
        margin: 0 0 16px;
        @include desktop {
            font-size: 72px;
            line-height: 1;
            margin-bottom: 32px;
        }
    }
    &_day-content {
        border-radius: 10px;
        padding:24px;
        border: 1px solid $color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        @include desktop {
            padding: 32px;
        }

        & + & {
            margin-top: 16px;
        }

        &__orange,
        &__violet,
        &__blue,
        &__pink,
        &__green,
        &__purple {
            border-color: transparent;
            margin-top: -5px;
            padding-top: 34px;
        }


        &__orange {
            background-image: url(#{$img}/figures/schedule-day-orange.svg);
        }
        &__violet {
            background-image: url(#{$img}/figures/schedule-day-violet.svg);
        }
        &__blue {
            background-image: url(#{$img}/figures/schedule-day-blue.svg);
        }
        &__pink {
            background-image: url(#{$img}/figures/schedule-day-pink.svg);
        }
        &__green {
            background-image: url(#{$img}/figures/schedule-day-green.svg);
        }
        &__purple {
            background-image: url(#{$img}/figures/schedule-day-purple.svg);
        }
    }
    &_duration {
        font-size: 16px;
        line-height: 1.4;
        display: block;
        margin: 0 0 16px;
    }
    &_day-title {
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 16px;
        @include desktop {
            font-size: 32px;
            margin: 0;
        }
    }
    &_day-caption {
        display: block;
        font-size: 16px;
        line-height: 1.4;
        margin: 16px 0;
        @include desktop {
            margin-bottom: 16px;
        }
    }
    &_day-button {
        @include desktop {
            margin-top: 24px;
        }
    }
    &_day-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin: 16px 0 0;
        @include desktop {
            margin-top: 0;
            display: block;
        }
    }
    &_day-button {
        font-weight: 400;
        font-size: 16px;
        height: 44px;
        line-height: 42px;

        & + & {
            @include desktop {
                margin-left: 16px;
            }
        }
    }

    .section-title {
         margin-bottom: vw(50);
    }
}
