
.showcase {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    @include tablet {
        margin-bottom: 150px;
    }
    @include desktop {
        margin-bottom: 100px;
    }
    
    &_holder {
        position: relative;
        padding-bottom: 100px;
        padding-left: 8px;
        padding-right: 8px;
        @include tablet {
            @include layout;
        }
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            position: relative;
            padding-bottom: 150px;
            gap: 25px;
            padding-bottom: 100px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -60px;
            width: 100%;
            height: 75px;
            background: url(#{$img}/showcase-rainbow-mobile.svg) no-repeat top right / 100% auto;
            z-index: -1;
            @include tablet {
                background-repeat: repeat-x;
                background-size: auto 75px;
            }
            @include desktop {
                content: none;
            }
        }
    }

    &_rainbow {
        display: none;
        @include desktop {
            display: block;
            position: absolute;
            z-index: -1;
            top: 100%;
            margin-top: -120px;
            height: 430px;
            right: 0;
        }
        @include desktop-large {
            height: 533px;
            right: $indent;
        }
    }

    &_video-wrapper {
        width: 100%;
        position: relative;
        z-index: 6;
        pointer-events: none;
        @include tablet {
            flex-shrink: 1;
            max-width: 530px;
            width: 360px;
            display: block;
            margin: auto;
        }
        @include desktop {
            width: 585px;
            max-width: 650px;
            margin-left: -35px;
            flex-grow: 0;
            flex-shrink: 1;
        }
        @include desktop-large {
            width: 652px;
        }
    }

    &_video-bg {
        width: 100%;
        
    }

    &_video-text-wrapper {
        position: absolute;
        width: 18%;
        padding-bottom: 9%;
        left: 43.8%;
        top: 25vw;
        overflow: hidden;
        border-radius: 12px;
        transform: rotate(-2deg);
        @include tablet {
            top: 90px;
            width: 62px;
            height: 37px;
            padding-bottom: 0;
            left: 50%;
            margin-left: -19px;
        }
        @include desktop {
            width: 104px;
            height: 56px;
            margin-left: -35px;
            top: 150px;
        }
        @include desktop-large {
            width: 114px;
            height: 62px;
            margin-left: -38px;
            top: 165px;
        }

        // background-color: rgba(255, 0 , 0, .5);
    }

    &_video-text-line {
        min-width: 300%;
        position: absolute;
        left: 80%;
        top: -50%;
        height: 200%;
        display: flex;
        transform-origin: center;
        animation: text-line 4s linear infinite;
    }

    &_video-text {
        transform-origin: center;
        transform: rotate(2deg);
        height: 100%;
        max-width: none;
        animation: text-blink .1s linear infinite;
    }

    &_content {
        flex-shrink: 0;
        text-align: center;
        @include tablet {
            margin: auto;
        }
        @include desktop {
            text-align: initial;
            flex-grow: 2;
            flex-shrink: 0;
        }
    }
    &_title {
        color: $cBlue;
        font-size: 40px;
        line-height: 1.2;
        margin: 0;
        @include desktop {
            font-size: 56px;
        }

        &__big {
            @include desktop-large {
                font-size: 80px;
            }
        }

        span:not([class]) {
            display: inline-block;
        }
        span:not([class])::first-letter {
            color: $cRed;
        }
    }

    &_subtitle {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.3;
        color: $cBlue;
        width: 100%;
        margin: 0;
        @include tablet {
            font-size: 24px;
        }
    }

    &_content-divider {
        margin: 0 0 10px;
        @include desktop {
            margin: 24px 0 $indent;
            height: 7px;
            background: url(#{$img}/showcase-divider.svg) repeat-x center / auto 100%;
        }
    }
}

@keyframes text-line {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-120%);
    }
}

@keyframes text-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
