.solutions {
    @include section;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;

    &_holder {
        @include layout;
    }

    &_subtitle {
        font-family: $font-family;
        font-size: 18px;
        line-height: 130%;
        margin: 0 auto 46px;
        max-width: 240px;
        text-align: center;
        @include desktop {
            font-size: 24px;
            max-width: 400px;
            margin-bottom: 56px;
        }
    }

    &_cards {
        padding: 6px 0 0;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 20px;
        }
    }
    &_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 258px;
        height: 540px;
        display: flex;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: top left;
        position: relative;
        border-radius: 16px;
        background: $cPurpleDark url(#{$img}/pattern.png) -30px -40px no-repeat;
        flex-grow: 1;
        @include desktop {
            border-radius: 30px;
            height: auto;
            min-height: vw(650);
            width: auto;
        }
        @include desktop-large {
            width: 418px;
        }

        &__red {
            background-color: $cRed;
        }

        &__blue {
            background-color: $cBlue;
        }
    }

    &_card-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 0;
        color: #fff;
        margin-bottom: 20px;
        @include desktop {
            font-size: 38px;
            margin-bottom: 27px;
        }
    }
    &_card-vat {
        font-size: 14px;
        line-height: 1.2;
        display: block;
        margin: 16px 0 0;
        color: $bg_color;
        text-align: center;
        @include desktop {
            font-size: 16px;
            margin-top: 24px;
        }

        .solutions_card__blue &,
        .solutions_card__red & {
            color: $color;
        }
    }
    &_card-price {
        font-family: $font-family__heading;
        font-weight: 700;
        font-size: 36px;
        color: #fff;
        text-shadow: 0px 2.89456px 0px #594C73, 0px 5.78912px 0px #746494, 0px 8.68368px 0px #9A89B9;
        @include desktop {
            text-shadow: 0px 4px 0px #594C73, 0px 8px 0px #746494, 0px 12px 0px #9A89B9;
            font-size: 48px;
        }

        .solutions_card__red & {
            text-shadow: 0px 2.89456px 0px #E68549, 0px 5.78912px 0px #EEBA44, 0px 8.68368px 0px #F5DDB7;
            @include desktop {
                text-shadow: 0px 4px 0px #E68549, 0px 8px 0px #EEBA44, 0px 12px 0px #F5DDB7;
            }
        }
        .solutions_card__blue & {
            text-shadow: 0px 2.89456px 0px #4BAFB1, 0px 5.78912px 0px #68C1BF, 0px 8.68368px 0px #A4DAD9;
            @include desktop {
                text-shadow: 0px 4px 0px #4BAFB1, 0px 8px 0px #68C1BF, 0px 12px 0px #A4DAD9;
            }
        }
    }
    &_card-list {
        max-width: 305px;
        font-size: 14px;
        line-height: 1.35;
        list-style: none;
        padding-left: 18px;
        background: url(#{$img}/solutions-list-border-light.svg) center bottom repeat-x;
        padding: 0 0 14px 18px;
        margin: 0 0 5px;
        @include desktop {
            max-width: none;
            font-size: 16px;
            padding: 0 0 18px 24px;
        }

        li {
            position: relative;

            &::before {
                content: '';
                border-radius: 50%;
                background-color: $bg_color;
                position: absolute;
                height: 5px;
                width: 5px;
                top: 7px;
                left: -13px;
                @include desktop {
                    height: 5px;
                    width: 5px;
                    left: -23px;
                    top: 8px;
                }
            }
        }

        .solutions_card__red & li::before,
        .solutions_card__blue & li::before {
            background-color: $color;
        }

        .solutions_card__red &,
        .solutions_card__blue & {
            background-image: url(#{$img}/solutions-list-border.svg);
        }

        &:last-child {
            padding-bottom: 0;
            background-image: none;
        }
    }

    &_card-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px $indent;
        flex-grow: 0;
        @include desktop {
            padding: 20px 32px;
        }
    }

    &_card-bottom {
        border-radius: 16px;
        background: #5D4D7E url(#{$img}/pattern.png) -30px -40px repeat;
        padding: $indent;
        flex-grow: 1;
        color: $bg_color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 8px;
        @include desktop {
            border-radius: 30px;
            padding: 24px 32px;
        }

        .solutions_card__red & {
            background-color: $cYellow;
            color: $color;
        }
        .solutions_card__blue & {
            background-color: $cBlueLight;
            color: $color;
        }
    }

    &_card-sold {
        display: block;
        font-family: $font-family__heading;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: $cPurpleDark;
        margin-bottom: 10px;
        @include desktop {
            font-size: 56px;
            margin-bottom: 30px;
        }

        .solutions_card__red & {
            color: $cRed;
        }
        .solutions_card__blue & {
            color: $cBlue;
        }
    }

    &_card-list-title {
        font-size: 16px;
        @include desktop {
            font-size: 20px;
        }
    }

    .tns-outer {
        margin-right: -$indent;
        margin-left: -$indent;
        @include desktop {
            margin-right: 0;
        }
    }

    .tns-ovh {
        padding-right: $indent;
        padding-left: $indent;
        @include desktop {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .tns-item {
        @include tablet {
            display: flex;
            align-items: stretch;
            flex-grow: 1;
            width: calc(33% - 40px);
        }
    }

    .button {
        width: 100%;
    }
}
