.speakers {
    margin: 0 0 64px;
    @include desktop {
        overflow: hidden;
        margin-bottom: vw(150);
    }

    &_holder {
        @include layout;
        position: relative;
        padding-bottom: 45px;
        @include desktop {
            padding-bottom: 0;
        }
    }
    &_label {
        font-size: 12px;
        line-height: 1.4;
        color: $cPurpleDark;
        margin-bottom: 32px;
        @include desktop {
            font-size: 18px;
        }
    }
    &_slider-counter {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 16px;
        left: $indent;
        @include desktop {
            font-size: 24px;
            left: auto;
            right: 367px;
            bottom: -96px;
        }

        &__mobile {
            @include desktop {
                display: none;
            }
        }
    }
    &_bottom {
        @include layout;
        margin-top: 24px;
        @include desktop {
            margin-top: vw(56);
        }
    }
    &_grid {
        padding-top: 10px;
        @include tablet {
            padding-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            row-gap: vw(48);
            column-gap: vw(20);
        }
        @include desktop {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.tns-slider {
            padding-top: 0;
        }
    }
    &_grid-item {
        margin: 0 0 34px;
        @include tablet {
            margin-bottom: 0;
        }

        .tns-outer & {
            margin-bottom: 0;
        }
    }

    .tns-ovh {
        padding-top: 10px;
        @include desktop {
            padding-top: 16px;
        }
    }
    .tns-outer {
        margin-right: -$indent;
        @include tablet {
            margin-right: -48px;
        }
        @include desktop {
            margin-bottom: 24px;
        }
        @include desktop-large {
            margin-right: -72px;
        }
    }
    .tns-controls {
        position: absolute;
        right: $indent;
        bottom: 4px;
        @include desktop {
            bottom: -91px;
            right: 72px;
        }
    }
}

.speakers-card {
    display: flex;
    width: 100%;
    border-radius: 4px;
    position: relative;
    color: $color;
    text-decoration: none;
    box-sizing: border-box;
    @include desktop {
        border-radius: 8px;
    }

    .speakers_grid-item & {
        width: 100%;
        height: auto;
    }

    &__all {
        background-color: $cBlueLight;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        min-height: calc(101.2vw - 48px + 100px);
        @include tablet {
             min-height: calc(100.5vw - 96px + 100px);
        }
        @include desktop {
            min-height: calc(46.9vw - 48px - 20px);
        }
        @include media(1190px) {
            min-height: calc(46.5vw - 48px - 20px);
        }
        @include media(1260px) {
            min-height: calc(46.3vw - 48px - 20px);
        }
        @include desktop-large {
            min-height: calc(47.1vw - 72px - 20px);
        }
        @include media(1500px) {
            min-height: calc(47vw - 72px - 20px);
        }
        @include media(1600px) {
            min-height: calc(46.9vw - 72px - 20px);
        }
        @include media(1700px) {
            min-height: calc(46.8vw - 72px - 20px);
        }
        @include media(1800px) {
            min-height: calc(46.7vw - 72px - 20px);
        }
        @include media(1900px) {
            min-height: calc(46.5vw - 72px - 20px);
        }

        &::before {
            content: "";
            background-color: $cBlueLight;
            position: absolute;
            left: 0;
            top: -10px;
            height: 40px;
            width: 35%;
            border-radius: 4px;
            @include desktop {
                top: -14px;
                border-radius: 8px;
            }
        }
    }

    &_all-link {
        font-weight: 600;
        font-size: 24px;

        &::after {
            content: url(#{$img}/arrow-right-small.svg);
            vertical-align: middle;
            margin: 0 0 0 16px;
        }
    }
    &_label {
        font-size: 16px;
        line-height: 1.26;
        font-weight: 600;
        position: absolute;
        top: -10px;
        left: 0;
        padding: 16px $indent;
        border-radius: 4px;
        z-index: 1;
        @include desktop {
            font-size: vw(24);
            padding: $indent 40px;
            border-radius: 8px;
            top: -16px;
        }

        &::before {
            content: "";
            height: 35px;
            width: 58px;
            border-radius: 4px;
            position: absolute;
            left: 0;
            bottom: -25px;
            z-index: 0;
            @include desktop {
                border-radius: 8px;
                height: 45px;
                width: 85px;
                bottom: -37px;
            }
        }

        .speakers-card__blue &,
        .speakers-card__blue &::before {
            background-color: $cBlueLight;
        }
        .speakers-card__pink &,
        .speakers-card__pink &::before {
            background-color: $cPink;
        }
        .speakers-card__orange &,
        .speakers-card__orange &::before {
            background-color: $cOrange;
        }
    }
    &_image {
        width: 100%;
        aspect-ratio: 1 / 1.1;
        object-fit: cover;
    }
    &_content {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        padding: 0 0 100px;
        width: 100%;
        @include desktop {
            border-radius: 8px;
            padding-bottom: 31%;
        }
    }
    &_bottom {
        padding: 24px 32px 32px;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 0 0 4px 4px;
        top: 100%;
        height: 100%;
        z-index: 2;
        transform: translateY(-107px);
        transition: .3s $easing top, .3s $easing transform;
        @include desktop {
            padding-top: 32px;
            transform: translateY(-9.7vw);
            border-radius: 0 0 8px 8px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 97%;
            height: 55px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: auto 100%;
            @include desktop {
                height: 70px;
            }
        }

        .speakers-card:hover & {
            top: 0;
            transform: translateY(0);
        }

        .speakers-card__blue & {
            background-color: $cBlueLight;

            &::before {
                background-image: url(#{$img}/figures/speakers-figure-blue.svg);
            }
        }
        .speakers-card__pink & {
            background-color: $cPink;

            &::before {
                background-image: url(#{$img}/figures/speakers-figure-pink.svg);
                background-position: right top;
            }
        }
        .speakers-card__orange & {
            background-color: $cOrange;

            &::before {
                background-image: url(#{$img}/figures/speakers-figure-orange.svg);
            }
        }
    }
    &_name {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 4px;
        display: block;
        @include desktop {
            font-size: vw(24);
            margin-bottom: vw(12);
        }
    }
    &_position {
        font-size: 16px;
        line-height: 1.4;
        color: $cGreyLight;
        display: block;
        margin: 0 0 20px;
        @include desktop {
            font-size: vw(24);
            margin-bottom: 56px;
        }
    }
    &_text {
        opacity: 0;
        transition: .2s $easing opacity;

        .speakers-card:hover & {
            opacity: 1;
        }
    }
}
