.speakers {
    @include section;

    &__rainbow-right {
        margin-bottom: 0;
        @include desktop() {
            overflow: hidden;
            padding-top: 50px;
            margin-top: -50px;
            padding-bottom: 164px;
        }

        & + section {
            @include desktop {
                margin-top: -10px;
            }
        }
    }

    &_holder {
        @include layout;
        position: relative;
        padding-bottom: 45px;
        @include desktop {
            padding-bottom: 0;
        }

        .speakers__rainbow-right & {
            position: relative;

            &::after {
                @include desktop {
                    content: '';
                    position: absolute;
                    left: 100%;
                    margin-left: -240px;
                    margin-top: -220px;
                    top: 100%;
                    height: 398px;
                    width: 1353px;
                    background: url(#{$img}/speakers-rainbow-right.svg) no-repeat top right / 100% auto;
                    z-index: -1;
                }
            }
        }

        .speakers__rainbow-left & {
            position: relative;

            &::after {
                @include desktop {
                    content: '';
                    position: absolute;
                    right: 100%;
                    bottom: 100%;
                    height: 398px;
                    width: 1353px;
                    margin-right: -240px;
                    margin-bottom: -220px;
                    background: url(#{$img}/speakers-rainbow-left.svg) no-repeat top right / 100% auto;
                    z-index: -1;
                }
            }
        }

        &__no-indent-mobile {
            padding-bottom: 0;
            margin-bottom: 18px;
        }
    }

    &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        @include tablet {
            display: grid;
            gap: 38px 8px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
        @include desktop {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 38px 20px;
        }

        .speakers-card {
            width: calc(50% - 8px);
            @include tablet {
                width: auto;
            }
        }
    }
    
    &_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 38px 8px;
        padding-top: 20px;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
        @include desktop {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 38px 20px;
        }
    }
}

.speakers-card {
    width: 100%;
    position: relative;
    color: $color;
    text-decoration: none;
    box-sizing: border-box;
    //height: 288px;
    @include desktop-large {
        //height: 310px;
    }

    &_image {
        width: 100%;
        object-fit: cover;
        @include desktop {
        }
    }
    &_content {
        color: $color;
        background: $cRed url(#{$img}/pattern.png) -30px -40px repeat;
        position: relative;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
        position: absolute;
        left: 0;
        top: calc(100% - 126px);
        height: 100%;
        width: 100%;
        padding: $indent $indent 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        z-index: 2;
        transition: .3s $easeOutCirc top;
        @include media(350px) {
            top: calc(100% - 120px);
        }
        @include media(430px) {
            top: calc(100% - 130px);
        }
        @include media(470px) {
            top: calc(100% - 100px);
        }
        @include tablet {
            top:20vw;
        }
        @include media(700px) {
            top: 27vw;
        }
        @include media(750px) {
            top: 25vw;
        }
        @include media(850px) {
            top: 27vw;
        }
        @include desktop {
            border-radius: 16px 16px 0 0;
            padding-left: 24px;
            padding-right: 24px;
            top: 12vw;
        }
        @include media(1200px) {
            top: 182px;
        }
        @include media(1250px) {
            top: 192px;
        }

        .speakers-card.active & {
            top: 0;
        }
        .speakers-card:hover & {
            @include desktop {
                top:0;
            }
        }

        .speakers-card:nth-child(1n) & {
            background-color: $cRed;
            color: $bg_color;
        }
        .speakers-card:nth-child(2n) & {
            background-color: $cBlueLight;
            color: $color;
        }
        .speakers-card:nth-child(3n) & {
            background-color: $cPurpleDark;
            color: $bg_color;
        }
        .speakers-card:nth-child(4n) & {
            background-color: $cRed;
            color: $bg_color;
        }
        .speakers-card:nth-child(5n) & {
            background-color: $cOrange;
            color: $bg_color;
        }
        .speakers-card:nth-child(6n) & {
            background-color: $cYellow;
            color: $color;
        }
        .speakers-card:nth-child(7n) & {
            background-color: $cBlue;
            color: $bg_color;
        }
        .speakers-card:nth-child(8n) & {
            background-color: $cBlueLight;
            color: $color;
        }
    }

    &_name {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 4px;
        display: block;
        @include desktop {
            font-size: 24px;
        }
    }
    &_position {
        font-size: 14px;
        line-height: 1.4;
        display: block;
        margin: 0 0 20px;
        @include desktop {
            font-size: 16px;
        }
    }
    &_text {
        flex-grow: 2;
        padding: $indent;
        margin: 0 #{-$indent};
        border-radius: 8px 8px 0 0;
        opacity: 0;
        font-size: 14px;
        background: url(#{$img}/pattern.png) -30px -40px repeat;
        transition: .2s $easing opacity;
        @include desktop {
            border-radius: 16px 16px 0 0;
            font-size: 16px;
            padding: 24px;
            margin: 0 -24px;
        }

        .speakers-card.active & {
            opacity: 1;
        }
        .speakers-card:hover & {
            @include desktop {
                opacity: 1;
            }
        }

        .speakers-card:nth-child(1n) & {
            background-color: #aa2e27;
        }

        .speakers-card:nth-child(2n) & {
            background-color: $cBlue;
        }

        .speakers-card:nth-child(3n) & {
            background-color: rgb(26, 19, 37);
            color: $bg_color;
        }

        .speakers-card:nth-child(4n) & {
            background-color: #aa2e27;
        }

        .speakers-card:nth-child(5n) & {
            background-color: #914b21;
        }

        .speakers-card:nth-child(6n) & {
            background-color: $cOrange;
        }

        .speakers-card:nth-child(7n) & {
            background-color: #15373f;
        }

        .speakers-card:nth-child(8n) & {
            background-color: $cBlue;
            color: $color;
        }
    }

    &_holder {
        overflow: hidden;
        position: relative;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 1 / 1.8;
        @include media(350px) {
            aspect-ratio: 1 / 1.6;
        }
        @include media(470px) {
            aspect-ratio: 1 / 1.3;
        }
        @include tablet {
            aspect-ratio: 1 / 1.2;
        }
        @include desktop {
            aspect-ratio: 1 / 1;
            border-radius: 16px 16px 0 0;
            //height: 300px;
        }
    }

    &_label {
        @include button;
        position: absolute;
        left: 0;
        padding: 0 $indent;
        height: 32px;
        line-height: 32px;
        bottom: calc(100% - 8px);
        filter: drop-shadow(0px 3px 0px $cOrange) drop-shadow(0px 3px 0px $cYellow) drop-shadow(0px 3px 0px #FFEBCB);
        pointer-events: none;
        z-index: 1;
        transition: .2s ease opacity;
        @include tablet {
            bottom: calc(100% - 18px);
        }
        @include desktop {
            padding: 0 24px;
            height: 40px;
            line-height: 40px;
            filter: drop-shadow(0px 6px 0px $cOrange) drop-shadow(0px 6px 0px $cYellow) drop-shadow(0px 6px 0px #FFEBCB);
        }

        .speakers-card:nth-child(even) & {
            background-color: $cBlue;
            filter: drop-shadow(0px 3px 0px #4BAFB1) drop-shadow(0px 3px 0px #68C1BF) drop-shadow(0px 3px 0px #A4DAD9);

            @include desktop {
                filter: drop-shadow(0px 6px 0px #4BAFB1) drop-shadow(0px 6px 0px #68C1BF) drop-shadow(0px 6px 0px #A4DAD9);
            }
        }

        .speakers-card.active & {
            opacity: 0;
        }
        .speakers-card:hover & {
            @include desktop {
                opacity: 0;
            }
        }
    }   
}
