.terms {
    margin: 84px 0 90px;
    position: relative;
    @include desktop {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    &_holder {
        @include layout;
    }
    &_title {
        text-align: center;
        font-size: 48px;
        line-height: 1.2;
        margin: 0 0 35px;
        @include desktop {
            font-size: 56px;
        }
        
        span {
            display: block;
            font-size: 32px;
            @include desktop {
                font-size: 48px;
            }
        }
    }
    &_list {
        list-style: none;
        padding: 0;
        @include desktop {
            display: flex;
            gap: 20px;
        }

        li {
            border-radius: 16px;
            font-size: 16px;
            line-height: 1.3;
            padding: 30px;
            margin: 0 0 30px;
            color: $bg_color;
            background: $cBlueMedium url(#{$img}/pattern.png) -40px -30px no-repeat;
            @include desktop {
                font-size: 18px;
                flex-grow: 1;
                border-radius: 30px;
                margin: 0;
                padding: 40px;
                width: calc(25% - 60px);
            }

            &:nth-child(2n) {
                background-color: $cPurpleDark;
            }
            &:nth-child(3n) {
                background-color: $cOrange;
            }
            &:nth-child(4n) {
                background-color: $cYellow;
                color: $color;
            }
        }
    }
}
