.topics {
    margin: 0 0 90px;
    position: relative;
    @include desktop {
        margin-bottom: vw(258);
    }

    &_holder {
        @include layout;
        position: relative;
    }
    &_content {
        margin: 0 0 24px;
        position: relative;
        z-index: 1;
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    &_text {
        font-size: 16px;
        line-height: 1.4;
        @include desktop {
            font-size: vw(24);
            max-width: 50%;
        }

        .button {
            margin: 4px 0 8px;
            @include desktop {
                margin-top: vw(24);
            }
        }
    }
    &_items {
        @include tablet {
            display: flex;
        }
    }
    &_item {
        background-color: $cBlue;
        font-size: 24px;
        line-height: 1.2;
        color: $cBlue;
        width: 100%;
        border-radius: 8px;
        min-height: 72px;
        align-items: center;
        justify-content: center;
        padding: 8px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: .3s $easeInCirc color,
                    .3s $easeInCirc border-color;
        @include desktop {
            padding: vw(26);
        }

        &__orange {
            background-color: $cOrange;
        }

        &__purple {
            background-color: $cPurple;
        }

        &__yellow {
            background-color: $cYellow;
        }
    }
}
