.topics {
    margin: 0 0 90px;
    position: relative;
    @include desktop {
        margin-bottom: vw(258);
    }

    &_holder {
        @include layout;
        position: relative;
    }
    &_content {
        margin: 0 0 24px;
        position: relative;
        z-index: 1;
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    &_text {
        font-size: 16px;
        line-height: 1.4;
        @include desktop {
            font-size: vw(24);
            max-width: 50%;
        }

        .button {
            margin: 4px 0 8px;
            @include desktop {
                margin-top: vw(24);
            }
        }
    }
    &_items {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            justify-content: space-between;
        }
    }
    &_item {
        background-color: #4DB0B2;
        font-size: 24px;
        line-height: 1.2;
        color: $bg_color;
        width: 100%;
        border-radius: 8px;
        min-height: 72px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        flex-grow: 1;
        transition: .3s $easeInCirc color,
        .3s $easeInCirc border-color;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 22%;
        }

        &__orange {
            background-color: $cRed;
        }

        &__purple {
            background-color: $cPurpleDark;
        }

        &__yellow {
            background-color: #EEBA44;
        }
    }

    &_item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        display: block;
        margin: 14px 0;
        padding: 0 $indent;
        @include desktop {
            font-size: 24px;
            margin: 28px 0;
            padding: 0 28px;
        }
    }
    
    &_item-content {
        padding: $indent;
        border-radius: 16px;
        text-align: left;
        background-color: $cBlue;
        @include desktop {
            padding-left: 28px;
            padding-right: 28px;
            border-radius: 20px;
        }

        .topics_item__orange & {
            background-color: $cOrange;
        }

        .topics-item__purple & {
            background-color: $cPurple;
        }

        .topics-item__yellow & {
            background-color: $cYellow;
        }
    }

    &_item-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 14px;
            line-height: 1.4;
            padding: 12px 0;
            border-bottom: 1px dashed currentColor;
            @include desktop {
                font-size: 16px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
