.video {
    padding: 14px 0 87px 0;
    margin: 0 0 14px;
    @include desktop {
        margin-bottom: vw(140);
        padding: 0 0 vw(60) 0;
        overflow: hidden;
    }

    &_holder {
        padding: 0 24px;
        @include desktop {
            padding: 0 72px;
        }
    }
    &_item {
        position: relative;
        padding: 0 0 56%;
        margin-top: 44px;
        @include desktop {
            margin-top: vw(140);
        }

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        video {
            width: 100%;
        }
    }
}
