@font-face {
    font-family: 'ITC Busorama Bold';
    src: url('src/fonts/ITCBusoramaBold.woff2') format('woff2'),
        url('src/fonts/ITCBusoramaBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Std Bk';
    src: url('src/fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('src/fonts/ITCAvantGardeStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

