.fixed-button {
    position: absolute;
    left: $indent;
    right: $indent;
    bottom: 0;
    padding: 12px 20px;
    z-index: 5;
    border-radius: 16px;
    background: $cRed url(#{$img}/pattern.png) no-repeat -100px -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    transition: .4s $easingSmooth opacity;
    @include tablet {
        left: 50%;
        right: auto;
        width: 390px;
        transform: translateX(-50%);
    }
    @include desktop {
        bottom: 100px;
        width: 475px;
        transform: translateX(-652px);
    }

    &_text {
        color: $bg_color;
        font-size: 14px;
        @include desktop {
            font-size: 16px;
        }

        span {
            display: block;
            font-size: 18px;
            @include desktop {
                font-size: 24px;
            }
        }
    }

    .button {
        background-color: $cYellow;
        color: $color;
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}
