
.menu {
    background-color: $bg_color;
    box-sizing: border-box;
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    left: 100%;
    top: 0;
    max-width: 1148px;
    width: 100%;
    padding: 88px 0 51px;
    transform: translateX(0);
    transition: .6s $easing transform;
    @include desktop {
        background-color: transparent;
        padding: 0;
        position: static;
        text-align: center;
        height: auto;
    }

    .menu-opened & {
        transform: translateX(-100%);
        @include desktop {
            transform: none;
        }
    }

    &_links {
        @include desktop {
            display: flex;
            justify-content: center;
            gap: 24px;
        }
        @include desktop-large {
            gap: 40px;
        }
    }
    &_link {
        font-family: $font-family__heading;
        font-weight: 700;
        font-size: 32px;
        line-height: 88px;
        height: 88px;
        color: $bg_color;
        background-color: $cRed;
        padding: 0 44px;
        text-transform: uppercase;
        border-radius: 100px 0 0 100px;
        transition: .3s $easing color;
        @include desktop {
            font-family: $font-family;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            line-height: 1;
            white-space: nowrap;
            background-color: transparent;
            padding: 0;
            text-transform: none;
            display: inline;
            color: $cBlue;
            height: auto;
        }

        &:nth-child(2n) {
            background-color: $cOrange;
            @include desktop {
                background-color: transparent;
            }
        }
        &:nth-child(3n) {
            background-color: $cYellow;
            @include desktop {
                background-color: transparent;
            }
        }
        &:nth-child(4n) {
            background-color: $cBlueLight;
            @include desktop {
                background-color: transparent;
            }
        }
        &:nth-child(5n) {
            background-color: $cBlueMedium;
            @include desktop {
                background-color: transparent;
            }
        }
        &:nth-child(6n) {
            background-color: $cBlue;
            @include desktop {
                background-color: transparent;
            }
        }
        &:nth-child(7n) {
            background-color: $cPurple;
            @include desktop {
                background-color: transparent;
            }
        }

        &:hover {
            color: $cPurple;
        }
    }
}
