.section-label {
    display: block;
    color: $cPurpleDark;
    margin: 0 0 8px;
    font-size: 12px;
    line-height: 1.3;
    @include desktop {
        font-size: vw(18);
        margin-bottom: vw(24);
    }

    &__white {
        color: $bg_color;
    }
}
