.section-title {
    display: block;
    font-family: $font-family__heading;
    font-size: 32px;
    line-height: 1.1;
    margin: 0 0 20px;
    @include desktop {
        font-size: 56px;
        margin-bottom: 36px;
    }

    strong {
        display: block;
        font-size: 40px;
        @include desktop {
            font-size: 80px;
        }
    }

    &__center {
        text-align: center;
    }
}

.section-top {
    margin-bottom: $indent;
    @include media(400px) {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    
        .button {
            margin: 0 0 20px;
            @include tablet {
                margin-bottom: 36px;
            }
        }
    }
}
