.section-title {
    font-size: 48px;
    line-height: .94;
    font-weight: 400;
    margin: 0 0 32px;
    width: 71%;
    @include desktop {
        font-size: vw(140);
        margin-bottom: vw(62);
    }
    @include desktop-large {
        width: 80%;
    }

    &__wide {
        width: 100%;
    }
    &__wide-desktop {
        @include desktop {
            width: 100%;
        }
    }
    &__wide-mobile {
        width: 100%;
        @include desktop {
            width: 70%;
        }
    }
}
