@mixin button {
    display: inline-block;
    background: $cRed url(#{$img}/pattern.png) no-repeat center;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: $bg_color;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    line-height: 43px;
    padding: 0 24px;
    white-space: nowrap;
    text-align: center;
    transform: scale(1);
    transition: .2s $easing color,
                .2s $easing background-color,
                .2s $easing transform;
    @include desktop {
        font-size: 18px;
        height: 60px;
        line-height: 60px;
    }

    &:hover {
        background-color: $bg_color;
        transform: scale(1.02);
    }
    &:active {
        transform: scale(.98);
    }
    &:disabled {
        opacity: .6;
    }
}

@mixin button-reset {
    border: none;
    padding: 0;
    background: transparent;
    height: auto;
    line-height: 1.2;
    min-width: 0;
    width: auto;
    border-radius: 0;

    &:hover {
        transform: none;
        background: transparent;
    }
    &:active {
        transform: none;
        background: transparent;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}

.button {
    &__dark {
        color: $bg_color;
        background-color: $color;
        border-color: $color;

        &:hover {
            color: $color;
            background-color: $bg_color;
        }
    }
    &__pink {
        color: $bg_color;
        background-color: $cPink;
        border-color: $cPink;

        &:hover {
            background-color: $bg_color;
            color: $cPink;
        }
    }
    &__purple {
        color: $bg_color;
        background-color: $cPurpleLight;
        border-color: $cPurpleLight;

        &:hover {
            background-color: $bg_color;
            color: $cPurpleLight;
        }
    }
    &__orange {
        color: $bg_color;
        background-color: $cOrange;
        border-color: $cOrange;

        &:hover {
            background-color: $bg_color;
            color: $cOrange;
        }
    }
    &__secondary {
        color: $bg_color;
        background: transparent;
        border: 2px solid $cRed;
        color: $cRed;

        &:hover {
            background: transparent;
            color: $cOrange;
        }
    }
}
