.form {
    &_row {
        @include tablet {
            display: flex;
            gap: 30px;
        }
    }
    &_cell {
        margin: 0 0 18px;
        width: 100%;
        @include tablet {
            margin-bottom: 26px;
            flex-grow: 1;
            width: 50%;
        }
    }
    &_accept {
        margin: 66px 0 56px;
        @include desktop {
            margin-top: 8px;
        }

        label {
            font-size: 18px;
        }
        a[href] {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
    &_submit[type] {
        width: 100%;
        @include tablet {
            width: auto;
        }
    }
    &_error {
        display: none;
        color: $cRed;
        font-size: 14px;
        margin: 8px 0 0;

        .error & {
            display: block;
        }
    }
    &_success {
        display: none;
        font-size: 14px;
        margin: 8px 0 0 10px;

        &.active {
            display: block;
        }
    }
}
