@mixin invisible-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
@mixin cutted-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin tablet() {
    @media all and (min-width: 768px) { @content; }
}
@mixin desktop() {
    @media all and (min-width: 1070px) { @content; }
}
@mixin desktop-large() {
    @media all and (min-width: 1360px) { @content; }
}
@mixin media($resolution) {
    @media all and (min-width: $resolution) { @content; }
}
@mixin mediaHeight($resolution) {
    @media all and (min-height: $resolution) { @content; }
}
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder
    {
        color: $color;
    }
}

@mixin layout {
    padding-left: $indent;
    padding-right: $indent;
    @include tablet {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@mixin gradiented-text($color1, $color2, $degree: 65deg) {
    @supports(-webkit-background-clip: text) {
        background: linear-gradient($degree, $color1 0%, $color2 40%,$color2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@function vw($px) {
    @return $px * 0.08vw
}
