.accordion {
    position: relative;
    @include desktop {
        padding: 0 0 0 30%
    }

    &__simple {
        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 0;
        }
    }

    &_holder {
        @include layout;
    }
    &_button {
        @include button-reset;
        display: block;
        font-size: 32px;
        font-weight: 600;
        margin: 8px 0 24px;
        text-align: left;
        position: relative;
        width: 100%;
        line-height: 1.2;
        @include desktop {
            position: absolute;
            left: 0;
            font-size: vw(60);
            width: auto;
        }

        &__inner {
            font-weight: 600;
            font-size: 20px;
            margin: 0 0 16px;
            cursor: default;
            position: static;
            @include desktop {
                font-size: vw(32);
                position: relative;
                top: inherit;
                border-top: 1px solid $color;
                border-bottom: 1px solid $color;
                padding: 40px 50px 40px 0;
                margin: 0;
                width: 100%;
                cursor: pointer;
                white-space: normal;
            }
        }

        &.active,
        &:hover {
            color: $cGreen;
            line-height: 1.2;
        }
        &__inner.active {
            color: $color;
        }

        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                @include desktop {
                    top: vw(($i - 1) * 112)
                }
            }
        }

        .accordion__simple &[class] {
            border-top: 1px solid $color;
            border-bottom: 1px solid $color;
            padding: 32px 0;
            margin: -1px 0 0;
            font-size: 48px;
            line-height: .94;
            font-weight: 400;
            transition: .2s $easing border-color .2s;
            @include desktop {
                position: relative;
                top: inherit;
                width: 100%;
                font-size: 140px;
                padding: 56px 0;
            }

            &:first-child {
                border-top: 1px solid $color;
            }
            &.active,
            &:hover {
                color: $cBlue;
            }
            &.active {
                border-bottom-color: transparent;
                transition: .1s $easing border-color;
            }

            .button {
                margin: 24px 0 0;
                @include desktop {
                    margin-top: vw(22);
                }
            }
        }
    }
    &_button-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;
        background-color: $cGreen;
        border-radius: 4px 0 4px;
        text-align: center;
        color: $color;
        font-size: 24px;
        line-height: 1.2;
        @include desktop {
            display: none;
        }

        &::after {
            content: '+';
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
        }
        .accordion_button.active &::after {
            content: '-';
        }

        .accordion_button__inner & {
            display: none;
            @include desktop {
                display: block;
            }
        }
    }
    &_item {
        padding: $indent 0 6px;
        border-bottom: 1px solid currentColor;
        @include desktop {
            font-size: 24px;
            border: none;
            padding: 0;
        }

        &:first-child {
            border-top: 1px solid currentColor;
            @include desktop {
                border: none;
            }
        }

        & + & {
            @include desktop {
                margin-top: -1px;
            }
        }
    }
    &_content {
        max-height: 0;
        overflow: hidden;
        transition: .3s linear max-height,
                    .1s linear margin .2s;
        @include desktop {
            max-height: none;
            display: none;
            margin: 0;
        }

        &.active {
            max-height: 1000px;
            margin: 0 0 16px;
             transition: .3s linear max-height,
                         .1s linear margin;
            @include desktop {
                max-height: none;
                display: block;
                margin-bottom: 0;
                padding-bottom: 1px;
            }
        }

        &__inner {
            max-height: none;
            @include desktop {
                max-height: 0;
                display: block;
            }

            &.active {
                @include desktop {
                    max-height: 1000px;
                }
            }
        }

        .accordion__simple & {
            @include desktop {
                width: 50%;
            }
        }
    }
    &_text {
        @include desktop {
            padding: 40px 0 18px;
        }

        .accordion__simple & {
            @include desktop {
                padding-bottom: 80px;
                padding-left: 4px;
            }
        }
    }
}
