.accordion {
    position: relative;
    @include desktop {
        padding: 0 0 0 30%
    }

    &__simple {
        @include desktop {
            padding-left: 0;
        }
    }

    &_holder {
        @include layout;
    }
    &_button {
        @include button-reset;
        display: block;
        font-size: 18px;
        text-align: left;
        position: relative;
        width: 100%;
        line-height: 1.2;
        color: $color;
        padding: $indent 40px $indent 0;
        white-space: normal;
        @include desktop {
            position: absolute;
            left: 0;
            font-size: 24px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &.active,
        &:hover {
            background-color: transparent;
            color: rgba($color, .6);
        }

        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                @include desktop {
                    top: vw(($i - 1) * 112)
                }
            }
        }

        .accordion__simple &[class] {
            transition: .2s $easing color .2s;
            @include desktop {
                position: relative;
                width: 100%;
            }
        }
    }
    &_button-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;
        background: $cRed url(#{$img}/plus.svg) no-repeat center;
        border-radius: 50%;
        text-align: center;
        pointer-events: none;
        @include desktop {
            height: 40px;
            width: 40px;
        }

        .accordion_button.active & {
            background-image: url(#{$img}/minus.svg);
        }

        .accordion_button__inner & {
            display: none;
            @include desktop {
                display: block;
            }
        }
    }
    &_item {
        padding: $indent 0 6px;
        background-color: #fff;
        border-radius: 16px 16px 0 0;
        padding: 0 $indent 24px;
        background-color: $cYellow;
        @include desktop {
            border-radius: 30px 30px 0 0;
            font-size: 24px;
            border: none;
            padding: 0 40px 30px;
        }

        & + & {
            margin-top: -#{$indent};
            @include desktop {
                margin-top: -24px;
            }
        }

        &:last-child {
            padding-bottom: $indent;
            @include tablet {
                padding-bottom: 30px;
            }
        }

        &:nth-child(2n) {
            background-color: $cOrange;
        }
        &:nth-child(3n) {
            background-color: $cBlueLight;
        }
        &:nth-child(4n) {
            background-color: $cBlue;
        }

        &.active {
            background-color: #fff;
        }
    }
    &_content {
        max-height: 0;
        overflow: hidden;
        transition: .3s linear max-height,
                    .1s linear margin .2s;
        @include desktop {
            max-height: none;
            display: none;
            margin: 0;
        }

        &.active {
            max-height: 1000px;
            margin: 0 0 16px;
            transition: .3s linear max-height,
                         .1s linear margin;
            @include desktop {
                max-height: none;
                display: block;
                margin-bottom: 0;
                padding-bottom: 1px;
            }
        }

        &__inner {
            max-height: none;
            @include desktop {
                max-height: 0;
                display: block;
            }

            &.active {
                @include desktop {
                    max-height: 1000px;
                }
            }
        }
    }
    &_text {
        @include desktop {
            padding: 40px 0 0;
        }

        .accordion__simple & {
            @include desktop {
                padding-left: 4px;
            }
        }
    }
}
