.advantage {
    box-sizing: border-box;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(#{$img}/pattern.png) -30px -40px no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
    color: $color;
    @include desktop {
        border-radius: 30px 30px 0 0;
        min-height: 320px;
    }

    &__blue {
        background-color: $cBlueLight;
    }
    &__orange {
        background-color: $cYellow;
    }
    &__red {
        background-color: $cRed;
    }
    &__purple {
        background-color: $cPurpleDark;
        color: $bg_color;
    }

    &_title {
        font-family: $font-family;
        font-weight: 500;
        font-size: 38px;
        line-height: 1.2;
        margin: 0;
        padding: 20px;
        @include desktop {
            padding:40px;
        }

        .advantage__red & {
            color: $bg_color;
        }
    }
    &_text {
        font-size: 18px;
        line-height: 130%;
        padding: 20px;
        border-radius: 16px 16px 0 0;
        background: url(#{$img}/pattern.png) -50px -60px no-repeat;
        @include desktop {
            border-radius: 30px 30px 0 0;
            padding: 40px;
        }

        .advantage__blue & {
            background-color: $cBlueMedium;
        }
        .advantage__orange & {
            background-color: $cOrange;
        }
        .advantage__red & {
            background-color: $cOrange;
        }
        .advantage__purple & {
            background-color: $cPurple;
        }

        p {
            max-width: 490px;
        }
    }
}
