.filters {
    &_toggle {
        @include button-reset;
        font-size: 18px;
        border: 1px solid $color;
        border-radius: 10px;
        margin: 0 0 32px;
        display: block;
        height: 58px;
        width: 57px;
        width: 100%;
        @include desktop {
            display: none;
        }
    }
    &_toggle-icon {
        background: url(#{$img}/filters.svg) no-repeat center / 100%;
        height: 26px;
        width: 26px;
        display: inline-block;
        margin: -8px 4px 0 0;
        vertical-align: middle;
    }
    &_close {
        background: url(#{$img}/popup-close-orange.svg) no-repeat center center / contain;
        border: none;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 35px;
        right: 24px;
        z-index: 3;
        min-width: 0;
        padding: 0;
        transition: .2s $easing opacity;
        @include desktop {
            display: none;
        }

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: 1;
        }
    }
    &_content {
        background: $bg_color;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        bottom: 0;
        padding: 32px 24px 24px;
        box-sizing: border-box;
        z-index: 20;
        pointer-events: none;
        opacity: 0;
        overflow: auto;
        transform: translateX(100%);
        transition: .3s $easingSmooth transform,
                    .3s $easingSmooth opacity;
        @include desktop {
            position: static;
            opacity: 1;
            pointer-events: all;
            transform: none;
            padding: 0;
        }

        &.opened {
            opacity: 1;
            transform: translateX(0%);
            pointer-events: all;
        }
    }
    &_content-title {
        font-size: 48px;
        line-height: 94%;
        display: block;
        margin: 0 0 62px;
        @include desktop {
            display: none;
        }
    }
    &_section {
        border: 1px solid $color;
        border-radius: 10px;
        margin: 0 0 24px;
        @include desktop {
            margin-bottom: 32px
        }
    }
    &_section-title {
        @include button-reset;
        width: 100%;
        text-align: left;
        font-size: 18px;
        padding: 12px 16px;
        border-radius: 10px 10px 0 0;
        background-color: $cOrange;
        border-bottom: 1px solid $color;
        position: relative;
        transition: .2s $easing border-radius;

        &.inactive {
            border-radius: 10px 10px;
        }
    }
    &_section-title-arrow {
        background: url(#{$img}/chevron.svg) no-repeat center / auto 100%;
        height: 8px;
        width: 16px;
        position: absolute;
        right: 16px;
        top: 45%;
        transform: rotate(0);
        transition: .2s $easing transform;

        .filters_section-title.inactive & {
            transform: rotate(-180deg);
        }
    }
    &_section-content {
        max-height: 500px;
        overflow: hidden;
        box-sizing: border-box;
        transition: .3s linear max-height;

        .filters_section-title.inactive + & {
            max-height: 0;
        }
    }
    &_items {
        padding: 20px 16px;
    }
    &_item {
        margin: 0 0 18px;
        @include desktop {
            margin-bottom: 12px;
        }

        label {
            font-size: 16px;
            line-height: 1.8;
        }
    }
    &_buttons {
        margin: 56px 0 20px;
        display: flex;
        gap: 20px;
        @include desktop {
            display: none;
        }
    }
}
